<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Healthray-DR</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We are using location permission to access the current location within the app to add new patient, and while doctor will complete the profile info as well as clinic info.</string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>MaterialIcons.ttf</string>
		<string>Ionicons.ttf</string>
		<string>FontAwesome.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>We are using a camera to allow for capturing the images to complete the profile info, to add the walk-in patient, to complete clinic profile, or capture and attach the digital signature for prescriptions, or send the images to the patients while they are doing chat with the patients for them booked online consultation.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We are using location permission to access the current location within the app to add new patient, and while doctor will complete the profile info as well as clinic info.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We are using location permission to access the current location within the app to add new patient, and while doctor will complete the profile info as well as clinic info.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We are using microphone permission to allow for recording audio and send that audio file to the patients in chat for booked online consultation.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We are using a photo library permission to save the captured photos if it&apos;s taken a while to complete the profile info, clinic info, attach the medical attachments(images), add or attach the digital signature for prescriptions, add walk-in patient and during the chat with patient for booked online consultation.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We are using a photo library permission to allow for accessing the images to complete the profile info, clinic info, add walk-in patient info, attach the medical attachments(images), add or attach the digital signature for prescriptions, and during the chat with patient for booked online consultation.</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
